.sections1{
    text-align: center;
    height: 100px;
    background-color: aqua;
}
.sections2{
    text-align: center;
    height: 100px;
    background-color: rgb(205, 162, 240);
}
.sections3{
    text-align: center;
    height: 100px;
    background-color: rgb(240, 179, 122);
}